<div id="createRecipeForm">
	<h1 mat-dialog-title>New Recipe</h1>
	<form ngNoForm>
		<table>
			<tr>
			  <mat-form-field title="RecipeName" class="input">
			    <input matInput placeholder="Recipe Name" value={{recipe.Name}}>
			  </mat-form-field>
			</tr>
			<tr>
			  <mat-form-field title="Description" class="input">
			  	<textarea matInput matTextAreaAutosize placeholder="Description" type="password" value={{recipe.Description}}></textarea>
			  </mat-form-field>
			</tr>
			<tr>
				<mat-form-field title="Ingredients" class="input">
					<textarea matInput matTextAreaAutosize value={{recipe.Ingredients}} placeholder="Ingredients (comma separated list)"></textarea>
				</mat-form-field>
			</tr>
			<tr>
				<mat-form-field title="Appliances" class="input">
					<textarea matInput matTextAreaAutosize value={{recipe.Appliance}} placeholder="Appliances needed (comma separated list)"></textarea>
				</mat-form-field>
			</tr>
			<tr>
				<mat-form-field title="Cost" class="input">
					<input matInput placeholder="Estimate cost to make" type="number" value={{recipe.Price}}>
				</mat-form-field>
			</tr>
			<tr>
				<mat-form-field title="Time" class="input">
					<input matInput value={{recipe.Cooking_Time}} placeholder="Time to make (in minutes)" type="number">
				</mat-form-field>
			</tr>
			<tr>
				<mat-form-field title="Tags" class="input">
					<input matInput placeholder="Tags (comma separated list)" type="text" value={{recipe.Tags}}>
				</mat-form-field>
			</tr>
			<tr>
				<mat-label>Directions:</mat-label>
				<mat-form-field title="Steps" class="directions">
					<textarea matInput matTextareaAutosize placeholder="(comma separated list)" type="text" class="taDirections" value={{recipe.Steps}}></textarea>
				</mat-form-field>
			</tr>
	  	<button mat-raised-button class="submit" type="submit" value="Sign-In">Create Recipe!</button>
		</table>
	</form>
</div>


<!-- Ingredients, Appliances, Cost, Time, Steps, Tags -->