<section class="card" (click)="onSelect()">
    <a routerLink="/recipe/{{recipe.id}}">
<header>
    <h2>{{recipe.name}}</h2>
</header>
<div class = "main-content">
    <p>{{recipe.content}}</p>
</div>
</a>
<div id="options">
    <button [class.edit-options] = "editting" (click)="editRecipe()" title = "Edit recipe" id = "edit"><i class="fa fa-pencil"></i></button>
    <button (click)="deleteRecipe()" [class.delete-options] = "deleting" title = "Delete recipe" id = "edit"><i class="fa fa-trash-o"></i></button>
</div>
<a routerLink="/recipe/{{recipe.id}}">
<footer>
    <p>Rating:</p>
</footer>
</a>
</section>
