<div id="createRecipeForm">
	<h1 mat-dialog-title>Rate This Recipe!</h1>
	<form>
		<table>
			<tr>
			  <mat-form-field title="Rating" class="input">
			    <mat-select  id="rating" placeholder="Rating" value="" [(value)]="rating">
			    	<mat-option value="1">1</mat-option>
			    	<mat-option value="2">2</mat-option>
			    	<mat-option value="3">3</mat-option>
			    	<mat-option value="4">4</mat-option>
			    	<mat-option value="5">5</mat-option>
			    </mat-select>
			  </mat-form-field>
			</tr>
			<tr>
			  <mat-form-field title="Review" class="input">
			  	<textarea id="comment" matInput matTextAreaAutosize placeholder="Review" type="text"></textarea>
			  </mat-form-field>
			</tr>
	  	<button mat-raised-button   class="submit" (click)="submit()" value="Rate">Submit!</button>
		</table>
	</form>
</div>


<!-- Ingredients, Appliances, Cost, Time, Steps, Tags -->