<div id="container">
	<div id="wrapper">
		<span id="gotta_log">You must log in to access that!</span>
		<div id="sign-in">
			<form>
			  <mat-form-field title="Username" class="input">
			    <input id="login_id" matInput placeholder="Username" value="">
			  </mat-form-field>
			  <br>
			  <mat-form-field title="Password" class="input">
			  	<input id="login_pass" matInput placeholder="Password" type="password">
			  </mat-form-field>
			  <br>
			  <p id="error">Invalid username or password.</p>
			  <br>
			  <button [disabled]="isDisabled" data-dismiss="modal" class="btn btn-primary submit" (click)="authenticateUser()" value="Sign-In" id="sign-in">Sign-In</button>
			</form>

			<footer class="footer">
				<p class="change_link">
					Not a member yet?
					<span (click)="register()" id="to_register">Join us</span>
				</p>
			</footer>
		</div>

		<div id="register">
	    <form ngNoForm>
        <mat-form-field>
          <input [(ngModel)]="newUser" matInput required="required" placeholder="Username" name="username">
        </mat-form-field>
        <p>
        	<mat-form-field>
        		<input [(ngModel)]="newEmail" matInput required="required" type="email" placeholder="Email Address" name="email">
        	</mat-form-field>
        </p>
	      <p>
	        <mat-form-field class="demo-full-width">
	          <input [(ngModel)]="newPass" matInput required="required" type="password" placeholder="Password" name="password">
	        </mat-form-field>
	        <mat-form-field class="password">
	        	<input [(ngModel)]="newPassConf" matInput required="required" type="password" placeholder="Confirm Password" name="passwordConf">
	        </mat-form-field>
	      </p>
	      <button [disabled]="isDisabled" data-dismiss="modal" class="btn btn-primary submit" (click)="doRegister()" value="Register!">Register!</button>
	    </form>

	    <footer class="footer">
	    	<p class="change_link">
	    		Already a member?
	    		<span (click)="login()" id="to_login">Login</span>
	    	</p>
	    </footer>
		</div>
	</div>
</div>

<!-- Username, email, password, description -->