<div id = "wrapper">
<header>
    <nav>
      <button title="Sign In" (click)="signIn()" class="signIn">Sign In <i class = "fa fa-sign-in"></i></button>
      <a href="#" class="user">hello</a>
      <button title = "Sign Out" (click)="signOut()" class = "so">Sign Out <i class = "fa fa-sign-out"></i></button>
      <ul>
      <li class= "logo"><img id= "logo" src = "assets/handsforhire.png" alt = "logo" ></li>
        
      <li class = "searchText"><input title = "Search" type="text" placeholder="Search" class="searchBar"></li>
      <li class = "search"><p title = "Search" ><i class = "fa fa-search"></i></p></li>
      <li class = "browse"><p title = "Browse" (click)="browse()">Browse</p></li>
      <li class = "random"><p title = "Random Recipe" (click)="random()">Random Recipe</p></li>
       </ul>
    </nav>
</header>


  <app-user-nav></app-user-nav>
  <app-user-recipes></app-user-recipes>
  <!--<app-browse></app-browse>-->

  <div class = "float-clear"></div>

<footer>
  <div class = "footerInfo">
    <i class = "fa fa-copyright"></i> 2017 Bon Appetelli
    <p>Justin Barish, Zach Hackett, Mark Knapp, Jack Kraszewski, Thomas Pyle</p>
  
    <div id = "socialMedia">
      <a href="https://www.facebook.com" title="facebook"><i class = "fa fa-facebook-square"></i></a>
      <a href="https://www.twitter.com" title= "twitter"><i class = "fa fa-twitter-square"></i></a>
      <a href="https://www.instagram.com" title="instagram"><i class = "fa fa-instagram"></i></a>
    </div>
  </div>
</footer>
</div>