
#wrapper {
    max-width: 1300px;
    min-width: 440px;
    margin: 0px auto;
    width:100%;
    padding:0px;
    border:none;
    background-color: #e8eef2;
    text-align: center;
    position: relative;
    min-height:100%;
    height:auto;
   
    
}

#logo{
    width: 300px;
    height: 50px;
}
header{
    overflow: hidden;
    width:100%;
    background-color: #77b6ea;
    display:block;
    
   
   
}
nav{
    padding:10px  15px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #77b6ea;
}

li {
    float: left;
    height:90px;
    
}

li p {
    background-color: #e8eef2;
    cursor: default;
    text-align: center;
}



li p, li input {
    display: block;
    color: black;
  
    text-decoration: none;
    padding: 14px 16px;
    
}
@media(max-width: 900px){
    li.searchText{
        width: calc(100% - 400px) !important;
    }
    li.browse{
        margin-left: 325px !important;
    }
  
}
@media (max-width: 730px) {
    li.logo{
        width: 100%;
    }
    li.searchText {
        width: calc(100% - 60px) !important;
        display:block;
        
    }
    li.search{
        clear: right;
    }
    li.browse{
        margin-left: 25px !important;
        float:left;
    }
    li.random{
        float: right;
    }
  
  
    
}

/* Change the link color to #111 (black) on hover */
li p:hover {
    background-color:  #c7d3dd;
}

li.searchText{
    margin: 0px;
    margin-left:10px;
    width: calc(100% - 86px - 150px - 300px - 120px);
    padding: 15px;
    min-width:100px;
    padding-right:0px;
}
li.searchText input {
  /*  width: calc(90% - 10px);*/
  width: 100%;
  height:100%;
}

li.search {
    margin: 0px;
    text-align: left;

}

li.browse{
    margin-left: 10px;
    margin-right: 10px;
    
}
.so{
    display: none;

}
.signIn{
    border:none;
    padding: 6px 15px;
    border-radius: 6px;
    outline: none;
    float: right;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.user{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-bottom: 1px dashed rgb(104, 103, 103);
    display:none;
}
.user:hover {
    color: rgb(46, 45, 45);
    text-decoration: none;
    border-bottom: 1px dashed rgb(104, 103, 103);
}
.signIn:hover {
    background-color:  #c7d3dd;
   
}

.body_wrapper {
    margin: 0;
    overflow: hidden;
}

.searchBar {
    height: 27px;
}
/*
nav{
    width: 100%;
    background-color: #77b6ea;
}

nav  ul {
  
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top:0px;
    padding: 0;
    background-color: #77b6ea;
    display: inline-block;  

    width: 100%;
}
 header li {
    float: left;
    margin-top:5px;
    margin:10px;
    overflow:hidden;
}

li.searchText{
    margin: 0px;
    margin-left:10px;
    width:40%;
   
}
li.search {
    margin: 0px;
    text-align: left;

}

li.browse{
    margin-left: 10px;
    margin-right: 10px;
    
}

 li p , li input{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    background-color:  #e8eef2;
   border-color: #e8eef2;
   outline:none;
   border: none;
   
  
 }
 li p:hover{
    border-radius: 5px;
    background-color: black;

}*/
/*
li p, li input{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
       
    }
  */
.float-clear{
    clear:both;
}
footer {
    background-color: #77b6ea;
    display:block;
    float:none;
    clear:both;
    padding: 25px;
    position: absolute;
    width: calc(100%);
    bottom: 0px;
}
footer.footerInfo {

    font-family: Palanquin;
    display:block;
    float:none;
    clear:both;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #a2abaa;
}
@media print{
    .signIn{
        display:none !important;
    }
    .searchText, .search, .browse, .random{
        display: none;
    }
    footer{
        display:none;
    }
}

.spacer{
    display:block;
    clear:both;
    height:200px;
}