.card {
    margin:15px;
}
.cards {
    display:block;
    float:none;
    clear:both;
}
li{
    list-style: none;
    float: left;
    width: calc(33% - 30px);
}
ul{
    padding: 0px;
}
@media (max-width: 900px) {
    li { 
        width: calc(50% - 30px);
    }
 }
 
 @media (max-width: 650px) {
    li { 
       float: none;
       width: calc(100% - 30px);
    }
 }