.sidenav {
	height: calc(100% - 139px);
	width: 0;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #a2abaa;
	display: block;
	text-align: left;
	transition: 0.3s;
	text-overflow: hidden;
	white-space: nowrap;
}

.sidenav a:hover {
	color: #f1f1f1;
}	

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 20px;
  font-size: 24px;
  display: none;
  opacity: 0;
  transition: 1s;
}

#open{
		display: block;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 20pt !important;
    color: black;
}

.sideDiv {
	width:100% !important;
	left: 10px;
	position: relative;
}


@media(max-width: 800px){
	.sidenav {
		height: calc(100% - 229px);
	}
  
}
@media (max-width: 645px) {
	.sidenav {
		height: calc(100% - 348px);
	}
  
    
}