#userProfileWrapper {
    clear:both;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 450px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(255, 249, 249);
   
    border-radius: 10px 0px 10px 0px;
    font-family: Palanquin;
    padding:30px 10px;
}

.profile div {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#userEmail {
	margin-left: 5px;
}

#userDescr {
	margin-left: 5px;
}

button{
    background-color: transparent;
    outline: none;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    font-size: 1.25em;
}
button:hover{
    border-radius: 5px;
    background-color: rgb(184, 179, 179);
}

input {
	display: none;
}

button[title="Save"] {
	display: none;
}
#error{
    display:none;
    color:red;
    margin-top: 3px;
}