<div id="register">
  <form ngNoForm>
    <mat-form-field>
      <input matInput required="required" placeholder="Username">
    </mat-form-field>
    <p>
      <mat-form-field>
        <input matInput required="required" type="email" placeholder="Email Address">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="demo-full-width">
        <input matInput required="required" type="password" placeholder="Password">
      </mat-form-field>
      <mat-form-field class="password">
        <input matInput required="required" type="password" placeholder="Confirm Password">
      </mat-form-field>
    </p>
    <button mat-raised-button class="submit" type="submit" value="Register!">Register!</button>
  </form>
</div>