<div id="register">
  <form>
    <mat-form-field>
      <input [(ngModel)]="newUser" matInput required="required" placeholder="Username" name="user">
    </mat-form-field>
    <p>
      <mat-form-field>
        <input [(ngModel)]="newEmail" matInput required="required" type="email" placeholder="Email Address" name="email">

      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="demo-full-width">
        <input [(ngModel)]="newPass" matInput required="required" type="password" placeholder="Password" name="pass">
      </mat-form-field>
      <mat-form-field class="password">
        <input [(ngModel)]="newPassConf" matInput required="required" type="password" placeholder="Confirm Password" name="passconf">

      </mat-form-field>
    </p>
    <button mat-raised-button class="submit" (click)="doRegistration()" value="Register!">Register!</button>
  </form>
</div>