@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    padding:0px;
    margin:0px;
    background-color: #f0f6fa;
    font-family: Palanquin;
    
}
app-filterpane{
    display: block;
    float:left;
    width: 200px;
   /* background-color: rgb(255, 249, 249);*/
   background-color:#edc86a60;
   margin-top:30px; 
   margin-left: 10px;
   border-radius: 10px 0px 10px 0px;
  
   
}app-card-layout{
    display:block;
    float:left;
    width: calc(100% - 210px);
}


@font-face {
  font-family: Palanquin;
  src: url(assets/palanquin/palanquin-thin.ttf);
}

app-root{
  position: relative;
}
